.one
{
    width: 130px;
    height: 100px;
    
}
.one img
{
    width: 100%;
    height: 100%;
}
.line1
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.line1 p
{
    text-align: center;
}
.box1
{
    text-align: center;
    width: 520px;
    height: 378px;
    border: 5px solid rgb(126, 101, 101);
    border-radius: 25px;

}
.box2
{
    text-align: center;
    width: 390px;
    height: 378px;
    border: 5px solid rgb(126, 101, 101);
    border-radius: 25px;

}
.box3
{
    text-align: center;
    width: 390px;
    height: 378px;
    border: 5px solid rgb(126, 101, 101);
    border-radius: 25px;

}
.container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}